.privacy-policy-page {
  margin-bottom: 0.625rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3.375rem;
  }
  a {
    color: $green;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;

    &:hover {
      color: $green;
    }
  }

  p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
  }
}
