.menu-main{


    &__search-dropdown{
      //transform: translate(0px, 54px) !important;
      width: 100%;
      padding-bottom: 1.5rem;
      margin: 0;
      background: #f3f3f3;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: absolute;
      left: 0;
      transform: translate(0, -165px);
      z-index: 1;
      display: none;
      padding-top: 1.5rem;
    }


  @keyframes slideIn {
    from {
      transform: translate(0, -165px);
    }
    to {
      transform: translate(0, 0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -165px);
    }
  }



  .search-close-icon {
    animation-duration:  0.8s;
    animation-fill-mode: both;
    animation-name: close;
  }

  @keyframes close {
    0% {
      opacity: 0;
      transform: translateY(54px);
    }
    50%, 76% {
      opacity: 0;
      transform: translateY(26px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }

  }




  &__search-form{
    width: 57%;
    margin: auto;
  }

  &__search-input{
    border-radius: 0.75rem !important;
    border: 1px solid  #45484C;
    padding: 0.75rem 2rem;
    background: #f3f3f3;
    color: $black;
    &:focus{
      box-shadow: 0 0 0 0.02rem $orange;
      border: 1px solid #0000;
      background: #f3f3f3;
    }
  }

  &__close-icon{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0.3125rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }



  &__search-title{
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 1rem;
    font-size: 1.5rem;
    font-family: $BOG-medium;
    color: $black;
  }

  &__search-icon-button{
    position: absolute;
    right: 32px;
    background: #0000;
    border: none;
    top: 10px;
    z-index: 3;
  }
}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
