/* Fonts */

/* BOG 2018 regular */
@font-face {
    font-family: 'BOG-regular';
    src: url('../fonts/BOG2018-Regular.ttf') format('ttf'),
      url('../fonts/BOG2018-Regular.ttf') format('woff2'),
        url('../fonts/BOG2018-Regular.ttf') format('woff');
    font-style: normal;
    font-weight: 400;
}

/* BOG 2018 medium */
@font-face {
  font-family: 'BOG-medium';
  src: url('../fonts/BOG2018-Medium.ttf') format('ttf'),
  url('../fonts/BOG2018-Medium.ttf') format('woff2'),
  url('../fonts/BOG2018-Medium.ttf') format('woff');
  font-style: normal;
}

/* BOG 2018 bold */
@font-face {
  font-family: 'BOG-bold';
  src: url('../fonts/BOG2018-Bold.ttf') format('ttf'),
  url('../fonts/BOG2018-Bold.ttf') format('woff2'),
  url('../fonts/BOG2018-Bold.ttf') format('woff');
  font-style: normal;
  font-weight: bold;
}


/* BOG 2018  Headline regular */
@font-face {
  font-family: 'BOG-Headline-regular';
  src: url('../fonts/BOG2018Headline-Regular.ttf') format('ttf'),
  url('../fonts/BOG2018Headline-Regular.ttf') format('woff2'),
  url('../fonts/BOG2018Headline-Regular.ttf') format('woff');
  font-style: normal;
}

/* BOG 2018  Headline medium */
@font-face {
  font-family: 'BOG-Headline-medium';
  src: url('../fonts/BOG2018Headline-Medium.ttf') format('ttf'),
  url('../fonts/BOG2018Headline-Medium.ttf') format('woff2'),
  url('../fonts/BOG2018Headline-Medium.ttf') format('woff');
  font-style: normal;
}

/* BOG 2018  Headline semiBold */
@font-face {
  font-family: 'BOG-Headline-semiBold';
  src: url('../fonts/BOG2018Headline-SemiBold.ttf') format('ttf'),
  url('../fonts/BOG2018Headline-SemiBold.ttf') format('woff2'),
  url('../fonts/BOG2018Headline-SemiBold.ttf') format('woff');
  font-style: normal;
}

/* BOG 2018  Headline Bold */
@font-face {
  font-family: 'BOG-Headline-Bold';
  src: url('../fonts/BOG2018Headline-Bold.ttf') format('ttf'),
  url('../fonts/BOG2018Headline-Bold.ttf') format('woff2'),
  url('../fonts/BOG2018Headline-Bold.ttf') format('woff');
  font-style: normal;
}




