/* Colors */
$white: #fff;
$black: #25272D;
$light_black: #737373;
$yellow: #FBC239;
$red: #DF3729;
$green: #00A750;
$dark-gray: #2F3F5F;
$DarkOrchid: #8220E6;
$orange: #FC6923;

/* Typography */
$BOG-regular: 'BOG-regular', Helvetica, Arial, sans-serif;
$BOG-medium: 'BOG-medium', Helvetica, Arial, sans-serif;
$BOG-bold: 'BOG-bold', Helvetica, Arial, sans-serif;
$BOG-Headline-regular: 'BOG-Headline-regular', Helvetica, Arial, sans-serif;
$BOG-Headline-medium: 'BOG-Headline-medium', Helvetica, Arial, sans-serif;
$BOG-Headline-semiBold: 'BOG-Headline-semiBold', Helvetica, Arial, sans-serif;
$BOG-Headline-Bold: 'BOG-Headline-Bold', Helvetica, Arial, sans-serif;


/* Screen size */
$mobileScreen: 767px;
$tabletScreen: 1024px;
$desktopScreen: 1280px;

/* Transitions */
$transition: .3s ease;
